[Unit]
Description=Nocc: A Distributed Compilation Server (Daemon)
After=network.target
Requires=nocc-daemon.socket

[Service]
EnvironmentFile=/etc/nocc/daemon.conf
ExecStart=/usr/lib/nocc/bin/nocc-daemon start
Type=notify
