ListenAddr = [
    "tcp4://localhost:43210",
    "tcp6://localhost:43210"
]
CompilerQueueSize = 1
LogFileName = /var/log/nocc-server.log 
LogLevel = 1 
SrcCacheDir = "/var/tmp/nocc/cpp"
ObjCacheDir = "/var/tmp/nocc/obj"
SrcCacheSize = 1073741824
ObjCacheSize = 1073741824
CompilerDirs = ["/usr/lib/llvm/20/bin", "/usr/lib/llvm/20/lib", "/usr/lib/clang/20/lib"]
