[Unit]
Description=Nocc: A Distributed Compilation Server
After=network.target

[Service]
ExecStart=/usr/lib/nocc/bin/nocc-server

[Install]
WantedBy=multi-user.target
