[Unit]
Description=Nocc: A Distributed Compilation Server (Daemon)
After=network.target
Requires=nocc-daemon.socket

[Service]
ExecStart=/usr/bin/nocc-daemon
Type=notify
